* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #1a1a1a;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-size: cover; /* Ajusta o fundo para cobrir a tela */
  }

  main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
  }

  h1 {
    color: #ff0080;
    margin-bottom: 10px;
    font-size: 2rem;
  }

  .aceita {
    width: 100vw;
    text-align: center;
    
  }

  .botoes {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  .botao {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #ff0080;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    transition: transform 0.3s;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

  .botao:hover {
    transform: scale(1.1);
  }

  .pergunta {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .inputs-um, .inputs-dois, .inputs-tres, .inputs-quatro, .inputs-cinco {
    display: flex;
    gap: 5px;
  }
  
  input {
    width: 30px;
    height: 40px;
    text-align: center;
    font-size: 22px;
    border: none;
    border-bottom: 2px solid #ff0080;
    outline: none;
    text-transform: uppercase;
    background-color: transparent;
    color: #ffffff;
  }
  
  input:focus {
    border-bottom: 2px solid #ffffff;
  }

  .aceitou {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
    width: 100vw;
    font-size: 2rem;
    color: #ff0080;
    background-image: url(content/hearts.gif);
    background-size: cover;
    overflow: hidden;
  }

  video {
    height: 50%;
  }

  @keyframes pulsar {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  .coracao {
    position: absolute;
    font-size: 30px; /* Tamanho do coração */
    color: #ff0080;
    animation: explodir 0.5s ease-out forwards;
    pointer-events: none; /* Impede que o cursor interfira em outros elementos */
  }

  /* Estilos para corações explodindo com diferentes cores e velocidades */
  .coracao.vermelho {
    color: red;
    animation: explodir-vermelho 1s ease-out forwards;
  }
  .coracao.azul {
    color: blue;
    animation: explodir-azul 2s ease-out forwards;
  }
  .coracao.verde {
    color: green;
    animation: explodir-verde 1.5s ease-out forwards;
  }

  @keyframes explodir {
    0% {
      opacity: 1;
      transform: scale(0);
    }
    100% {
      opacity: 0;
      transform: scale(1.5);
    }
  }

  @keyframes explodir-vermelho {
    0% {
      opacity: 1;
      transform: scale(0);
    }
    100% {
      opacity: 0;
      transform: scale(2);
    }
  }

  @keyframes explodir-azul {
    0% {
      opacity: 1;
      transform: scale(0);
    }
    100% {
      opacity: 0;
      transform: scale(1.2);
    }
  }

  @keyframes explodir-verde {
    0% {
      opacity: 1;
      transform: scale(0);
    }
    100% {
      opacity: 0;
      transform: scale(1.8);
    }
  }

  #nao {
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 0.2s, background-color 0.2s;
  }

  #nao:hover {
    transform: scale(1.2);
    background-color: #f00;
  }

  
